<nav class="navbar navbar-default">
  <div class="container-fluid  col-sm-10 col-sm-offset-1">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="{% url 'posts:list' %}"><img alt="Brand" src="{% static 'images/favicon.ico' %}" style="max-width: 20px"></a>
      <a class="navbar-brand " href="{% url 'posts:list' %}"><strong>R酱的小站</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" method="GET" action="">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="搜索我的文章" value="{{ request.GET.q }}" >
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>      
      </form>

      <ul class="nav navbar-nav navbar-right ">
        {% if request.user.is_authenticated  %}
        <li><a href="{% url 'accounts:logout' %}">退出</a></li>
        {% else %}  
    <li><a href="{% url 'accounts:login' %}">登录</a></li>
    <li><a href="{% url 'accounts:register' %}">注册</a></li>
    {% endif %}
      </ul> 

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<div class="container col-sm-10 col-sm-offset-1">

      <div class="row">

        <div class="col-sm-8 ">
{% for obj in object_list %}
          <div class="blog-post">
 
    

   
      <div class="caption post-detail-item">
      <a href="{{ obj.get_absolute_url }}">
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <small>{% if obj.draft %} <span style='color:red;'>Draft </span>{% endif %}</small></h3>
        <p><small style="color: gray">{{ obj.author|title }}&nbsp&nbsp&nbsp{{ obj.publish }}</small></p>

        {% autoescape off %}
        <p class="">
        {{ obj.content|truncatewords_html:20 }}
        </p>
        {% endautoescape %}
        </a>

        <hr />
        

    </div>

    </div>

{% endfor %}
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <p><br /></p>
    <p><br /></p>
          <div class="sidebar-module sidebar-module-inset">
            <h4>关于我</h4>
            <p>R酱酱 <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>金融科普文章</h4>
            <ol class="list-unstyled">
            {% for obj in object_list %}
              <li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></li>
            {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>了解更多</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
    </div>
    <p><br /></p>






<div class="col-sm-8">
<nav aria-label="...">
  <ul class="pager">
    <span class="step-links" />
    {% if object_list.has_previous %}
    <li><a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">上一页</a></li>
    {% endif %}
<!--     <span class="current">
    第{{ object_list.number }}页，共{{ object_list.paginator.num_pages }}页
    </span> -->
    {% if object_list.has_next %}
    <li><a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">下一页</a></li>
    {% endif %}
  </ul>



</nav>
</div>