{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Rayiyaoyao">
 


    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  	<!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  



    <link rel="icon" href="{% static 'images/favicon.ico' %}">


    <title>{% block title %}{{ title }}{% endblock title %}</title>

    {% block head_extra %}{% endblock %}

</head>

<body>



{% include "messages_display.html" %}
<div class="strip" style="background:#db4c3f; top:0; left:0; height:4px; width:100%;"></div>

<a href="{% url 'posts:list' %}" class="logo"></a>



{% block content %}

{% endblock content %}




<!-- Latest compiled and minified JavaScript -->


<script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>  
  <script src="{% static 'js/main.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
	$(".content-markdown").each(function(){
		var content = $(this).text()
		var markedContent = marked(content)
		$(this).html(markedContent)
		})


	// preview_title
	var titleInput = $("#id_title");
	// $("#preview-title").html(titleItem.val())
	function setTitle(value){
		$("#preview-title").text(value)
	}
	setTitle(titleInput.val())
	titleInput.keyup(function(){
		var newTitle = $(this).val()
		setTitle(newTitle)
	})


	// preview_content
	var contentInput = $("#id_content");
	// $("#preview-content").html(marked(contentItem.val()))
	function setContent(value){
		var markedContent = marked(value)
		$("#preview-content").html(markedContent)
		$("#preview-content img").each(function(){
			$(this).addClass("img-responsive")
		})
	}
	setContent(contentInput.val())

	contentInput.keyup(function(){
		// console.log($(this).val());
		var newContent = $(this).val()
		setContent(newContent)
	})

	$(".comment-reply-btn").click(function(event){
		event.preventDefault();
		$(this).parent().next(".comment-reply").fadeToggle();
	})

})



</body>


</html>





