{% extends "base.html" %}


{% load urlify %}
{% load crispy_forms_tags %}


{% block content %}

<section class="container post">
  <article>
    <h1>{{ instance.title }}
    	{% if instance.draft %}<small> <span style='color:red;'>草稿</span></small>{% endif %}
    </h1>
    <div class="meta">
      <span class="date">
        {{ instance.publish }}      </span>
      <span class="wordCount">
        {{ instance.words_count }}字
      </span>
      <span class="readingTime">
        {{ instance.read_time }}分钟      </span>
    </div>
    	{% autoescape off %} 
		{{ instance.content }}
		{% endautoescape %}
   </article>
  <span class="divider"></span>
  <div class="postend">
    
    <p>如果你喜欢这篇文章，分享给好友吧，分享到<a href="http://weibo.com">微博</a><br />
    <a href="/">点这里</a>，查看我的全部文章</p>
  </div>
</section>


<nav>
  <ul style="padding-left: 0px">
    <li class="older">
    {% if previous %}
                <a href="{{ previous.get_absolute_url }}" style="text-decoration: none;">
          <div class="content">
            <div class="postTitles">
              <div class="label">上一篇</div>
              <h3>{{ previous.title }}</h3>
            </div>
          </div>
        </a>
        {% endif %}
            </li>
        }
    <li class="newer">
    {% if next %}
                <a href="{{ next.get_absolute_url }}" style="text-decoration: none;">
          <div class="content">
            <div class="postTitles">
              <div class="label">下一篇</div>
              <h3>{{ next.title }}</h3>
            </div>
          </div>
        </a>
        {% endif %}
            </li>
  </ul>
</nav>


	
{% endblock content %}




