{% extends "base.html" %}


{% block content %}


<p><br /></p>

<section class="container blog center">


  <div class="intro">
    <h1>我是Ray，这里是我的小站</h1>
      <p>
        偶尔捣鼓代码，做做PS，写写文章，就有了这个小站<br /> 闲时会游泳、骑行或摄影，爱运动、爱设计、爱折腾<br />
        也可以联系我的<a href="http://weibo.com/5605009888/">微博</a>或者<a href="https://www.zhihu.com/people/rayiyaoyao">知乎</a>，讨论互联网二三事或者女性权利
      </p>
  </div>
    <span class="divider"></span>
</section>


<section class="posts center">
  {% for obj in object_list %}
  <div>
    <a class="post" href="{{ obj.get_absolute_url }}">
      <div class="content">
        <h1>{{ obj.title }}<small>{% if obj.draft %} <span style='color:red;'>Draft </span>{% endif %}</small></h1>
        <div class="meta">
          <span class="date">
            {{ obj.publish }}            </span>
          <span class="wordCount">
            {{ obj.words_count }}字          </span>
          <span class="readingTime">
            {{ obj.read_time }}分钟           </span>
        </div>
     </div>
      <div class="color left"></div>
      <div class="color right"></div>
    </a>
    </div>
    <p><br /></p>

  {% endfor %}   
</section>
  
        

 <section class="container thanks center">
    <span class="divider"></span>
    <p>Thanks for stopping by, I really appreciate it.<br />
    Copyright 2016 © Rayiyaoyao All rights reserved</p>  
</section>        
        








<!-- 
<div class="col-sm-8">
<nav aria-label="...">
  <ul class="pager">
    <!-- <span class="step-links" /> -->
    <!-- {% if object_list.has_previous %}
    <li><a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">上一页</a></li>
    {% endif %}
    <span class="current">
    第{{ object_list.number }}页，共{{ object_list.paginator.num_pages }}页
    </span>
    {% if object_list.has_next %}
    <li><a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">下一页</a></li>
    {% endif %}
  </ul>



</nav>  -->






{% endblock content %}